.App-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    height: 15px;
}

.App-header img {
    height: 35px;
}

.button-group-wrapper {
    display: flex;
}