.App-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 10px;
    height: 15px;
    position: fixed;
    background: white;
    width: 100%;
    z-index: 2;
    border-bottom: 1px solid rgb(168, 168, 168);
}

.App-header img {
    height: 20px;
}

.button-group-wrapper {
    display: flex;
}

.left-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navlink-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navlink-wrapper p {
    margin: 0 15px;
}

.button-group-wrapper .item {
    margin: 0 5px;
}

.nav-item:hover {
    cursor: pointer;
    color: rgb(39, 39, 39);
    border-bottom: 1px solid black;
}